# Игнорировать виртуальное окружение
venv/
venv_12/

# Игнорировать временные файлы и кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать IDE файлы
.vscode/
.idea/

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать тестовые файлы
data/tests/
data/autosave/
data/exports/
data/records/